body, html {
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


#textbox{
	/*padding-top: 80px;*/
	width: 40%;
	margin: 0 auto;
	/*background-color: blue;*/
}


#buttonbox{
	position: relative;
	margin-top: 72px;
	margin-bottom: 72px;
	height: 40px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	/*background-color: green;*/
}




#names{
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
}



#next-button{
	background-color: grey;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
}

#prev-button{
	background-color: grey;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 60px;

}




#test{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 35px;
	font-weight: bold;
}

#filters{
	/*position: fixed;*/
	/*background-color: grey;
	width: 100%;
	height: 48px;
	margin-top: auto;
	margin-bottom: 20px;*/

	/*left: 0px;*/

	/*position: relative;*/
	/*margin-top: 72px;*/
	/*margin-bottom: 72px;*/
	/*height: 40px;*/
	/*width: 40%;*/
	/*margin-left: auto;
	margin-right: auto;*/

	height: 44px;
    width: 100%;
    margin: 0;
    background-color: grey;
    padding: 8px 0px;
    position: fixed;
    z-index: 20;
    bottom: 0;
    left:0;

}


.filter_ele{
	/*height: 44px;*/
	width: auto;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-left:8px;
	padding-right:8px;
}