body, html {
	padding: 0;
	width: 980px;
	/*margin:auto;*/
	margin: 60px auto;
	font-family: 'Lato', sans-serif;
	font-family: 'Ropa Sans', sans-serif;
}

/*----------TOP-------------*/

#topnav{
	/*border-style:solid;*/
	height: 160px;
	padding: 28px 60px;
}

#navcontent{
	height:80px;
}


#leftnav{
	float: left; 
	width: 50%;
	/*border-style: solid;*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.nav-item{
	padding-right: 32px;
	color: grey;

}

#logo{
	width: 60px;
	height: 60px;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#lg{
	fill: grey;
}

#lg:hover{
	fill: blue;
}

/*--------INTRO------------*/

#intro{
	/*border-style: solid;*/
	height: auto;
	padding-bottom: 48px;
}

#intro-content{
	width: 40%;
	margin-left: 60px;
	font-size: 18px;


}


/*----------GRID----------*/

#grid{
	/*border-style: solid;*/
	height: auto;
}

.column{
	float:left;
	width: 50%;
	height: auto;
	/*border-style: solid;*/
}

#grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-item{
	width: 456px;
	height: 256.55px;
	background-color: grey;
	margin: 24px 12px;
}

.grid-pic{
	width:456px;
	height: 256.55px;
}



.placeholder{
	width: auto;
	height: 144px;
	background-color: white;
	margin: 16px 8px;
}


/*------------SOCIAL MEDIA -----------*/

#socialmedias{
	padding-left: 60px;
	padding-top: 200px;
	padding-bottom: 100px;
}

#sociallinks{
	padding-top: 24px;
}

.social{
	padding-right: 32px;
	color: grey;
}

#copyright{
	float:right;
	padding-right: 60px;
}




